<html>
    <head>
        <title>index2</title>
        <style>
            
           #one { 
                float:left;  
               
                width:25%; 
                height:280px; 
            } 
            #two{ 
                float:left;  
               
                width:25%; 
                height:280px; 
            } 
            #three{ 
                float:left; 
                margin-top: -175px;
                margin-left: 300px;
                width:25%; 
                height:280px; 
               
            } 
            #four{

                float:right;
                margin-top: -175px;
                width:25%;
                height: 280px;
            }
           
        </style>
    </head>
    <body>
        <div id = "wrapper">
           <center> <h1>Name: <%= c %></h1></center><br><br>
        <div id = "one">
            
                <img src = "<%= image %>">
                
            
            
              
        </div>
        <div i2 = "two"> 
        <h1>Flipkart</h1><br>
        <h1>Amazon</h1>
        </div>
        <div id = "three">
        <h1>Price: <%= str %> </h1><br>
        <h1>Price: <%= s%></h1>
</div>
       
       <div id = "four">
            <a href = "<%= url1 %>"><h1>Buy</h1></a><br>
            <a href = "<%=url2 %>"><h1>Buy</h1></a>
       </div> 
       
        
        
    </div>
    </body>
</html>